$mColor: #d23023; // 主色调tabbar
// 首页背景色渐变色
$bg1: #7e140f;
$bg2: #ec6d59;
// 账号也头像背景色渐变色
$hg1: #e65040;
$hg2: #ffe3de;
// 分割线
$line: #f6bdbb;
$fs: #310200;
.head {
  display: flex;
  align-items: center;
  height: 50px;
  background: $mColor;
  color: #fff;
}
