$mColor: #c62f2f; // 主色调tabbar
// 首页背景色渐变色
$bg1: #7e140f;
$bg2: #ec6d59;
// 账号也头像背景色渐变色
$hg1: #e65040;
$hg2: #ffe3de;
// 分割线
$line: #f6bdbb;
$fs: #310200;
* {
  box-sizing: border-box;
}
.mian {
  position: relative;
  width: 1020px;
  max-width: 1020px;
  box-shadow: 0 0 8px 6px #e1e1e2;
  margin: 0 auto;
  margin-top: 60px;
  .content {
    height: 710px;
  }
}

input {
  border: 0;
  outline: unset;
}

.iconfont {
  cursor: pointer;
}
